:root {
  /* --beige: #e9d5c1; */
  --beige: #F9F6CB;
  /* --red: #f2515e; */
  --red: #E82121;
  --blue: #123056;
}

.bg-beige {
  background-color: var(--beige);
}

.red {
  color: var(--red);
}

.bg-red {
  background-color: var(--red);
}

.blue {
  color: var(--blue);
}

.bg-blue {
  background-color: var(--blue);
}
